# Section General
# In the following technical test they indicated to use the token pk_test_LsRBKejzCOEEWOsw but you can use a different one
TOKEN_BEARER=<TOKEN_BEARER> | pk_test_LsRBKejzCOEEWOsw

# Section DB
POSTGRES_HOST=<POSTGRES_HOST>
POSTGRES_PORT=<POSTGRES_PORT> | 5432
POSTGRES_USERNAME=<POSTGRES_USERNAME>
POSTGRES_PASSWORD=<POSTGRES_PASSWORD>
POSTGRES_DATABASE=<POSTGRES_DATABASE>

# Section Redis
REDIS_HOST=<REDIS_HOST> | localhost
REDIS_PORT=<REDIS_PORT> | 6379
# If you have redis installed locally leave the REDIS_PASSWORD variable empty
REDIS_PASSWORD=<REDIS_PASSWORD> | ''
